.Head{
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}


/*
.Emojies {
    width: auto;
    padding: 1px;
    text-align: center;
}
.Emojies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;

}
.Emojies{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;  
} 
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 10px;
  padding: 10px;
}
.grid-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  border: black solid 1px
}

/*Your emoji gallery should utilize modern layout techniques using Flexbox or CSS Grid.*/

/* Flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  padding: 10px;
}

.flex-container > div {
  background-color: #4CAF50;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

/* CSS Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}

.grid > div {
  background-color: #4CAF50;
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

/* 
.Emojies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}
.Emojies {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;  
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-gap: 10px;
  padding: 10px;
 
}
.grid-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
  border: black solid 1px;
}

/* Highlight code in each box */
.grid-item code {
  background-color: lightgrey;
  padding: 10px;
}

/* Font Type */
.grid-item {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}














/*add colum and row
.Emojies{
    
}
/**adding styles to emjio buttons */    

/*** Align border near to the emojies ***/


